.header{
    background-color: #85BF3B;
    max-width: 100%;
    height: 179px;
}
.title{
  display: flex;
  justify-content: center;
}
.information{
    background-color: #E79292;
    position: absolute;
    top: 20px;
    left: 20px;
}
.catalog{
    background-color: #E79292;
    position: absolute;
    top: 20px;
    left: 100px;
}
.poisk{
    margin-top: 55px;
    background-color: #E79292;
    display: flex;
    justify-content: center;
}
.line3{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.age{
background-color: #9DF388;
}
.color{
    background-color: #9DF388;
}
.type{
    background-color:#FCFE97;
}
.not-dangerous{
    background-color: #9DF388;
}
.safe{
    background-color:#FCFE97;
}
.prise{
    background-color: #9DF388;
}
.line4{
    background-image: linear-gradient(to bottom, #85bf3b, #98b336, #a5a838, #ad9d3d, #b19345);
    max-width: 100%;
    height: 20px;
}
.main{
    max-width: 100%;
    height: 800px;
    background-color: #B19345;
}
.add-card{
    background-color: #E79292;
}
.contain {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.item {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    margin: 10px;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item h1 {
    font-size: 20px;
}

.price {
    background: gray;
    font-style: italic;
}
.chair{
    height: 129;
    width: 180;
    margin-left: 120px;
}
.sofa{
    height: 129;
    width: 180;
}
.hagi_vagi{
    height: 129;
    width: 180;
}
.green_alien{
    height: 129;
    width: 180;
}
.blue_alien{
    height: 129;
    width: 180;
}
.upTitles{
    display: flex;
    justify-content: space-between;
}
.upPhotos{
    display: flex;
    justify-content: space-between;
}
.chair_title{
    margin-left: 120px;
}

