body{
    background-color: #33769B;
}
.up_title{
    display:flex ;
    justify-content: center;
    margin-top: 15px;
}
.titles_of_cards{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.cards1{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.cards2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.card3{
    margin-top: 20px;
}
.card6{
    margin-top: 20px;
    height: 208px;
    width: 262px;
}

